.card {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-xl);
  background-color: var(--color-white);
  box-shadow: var(--shadow-card);
  overflow: hidden;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-2);
  padding: var(--spacing-6) var(--spacing-8);
  border-bottom: 1px solid var(--color-divider);
  background-color: var(--color-surface);
}

.card-body {
  padding: var(--spacing-6) var(--spacing-8);
  font-size: var(--font-size-base);
  overflow-x: auto;

  &.no-padding {
    padding: 0;
  }
}

.card-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2);
  padding: var(--spacing-6) var(--spacing-8);
  border-top: 1px solid var(--color-divider);
  background-color: var(--color-surface);
  border-radius: 0 0 var(--radius-xl) var(--radius-xl);
}

.filter-input {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.filter-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--spacing-4);
}

.header-with-icon {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}
