.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  color: rgb(107, 114, 128);
}

.empty-state-icon {
  margin-bottom: 1rem;
  opacity: 0.5;
}

.empty-state-message {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(75, 85, 99);
}

.empty-state-description {
  margin: 0.5rem 0 0 0;
  font-size: 0.875rem;
  color: rgb(107, 114, 128);
}
